[submodule "lib/seqan3"]
	path = lib/seqan3
	url = https://github.com/seqan/seqan3.git
[submodule "lib/seqan"]
	path = lib/seqan
	url = https://github.com/seqan/seqan.git
[submodule "lib/submodules/cereal"]
	path = lib/submodules/cereal
	url = https://github.com/USCiLab/cereal
[submodule "lib/submodules/sdsl-lite"]
	path = lib/submodules/sdsl-lite
	url = https://github.com/xxsds/sdsl-lite
[submodule "lib/biocpp-core"]
	path = lib/biocpp-core
	url = https://github.com/biocpp/biocpp-core.git
[submodule "lib/biocpp-io"]
	path = lib/biocpp-io
	url = https://github.com/biocpp/biocpp-io.git
[submodule "lib/pybind11"]
	path = lib/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = v2.10.4
[submodule "lib/seqtk"]
	path = lib/seqtk
	url = https://github.com/lh3/seqtk.git
